# ROS 2 build and install artifacts
build/
install/
log/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# VSCode settings (optional)
.vscode/

# Colcon meta files
.colcon/

# numpy debug logs
*.npz

# All CSV files
*.csv